{% extends "layouts/main.html" %}

{% set pageName = "CYPMD help and support" %}
{% set currentPage = "guidance" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }} 
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper" id="main-content" role="main">

<form method="post" action="remove-reasons" novalidate="">
<input name="__RequestVerificationToken" type="hidden" value="CfDJ8EQXv0juoFlGptDCuoEJ_9HNOJCar9YsWLWU4sUTXJt3VTs54fu53ZBnUmRtPRaq_JSzse9ufdTnT4h32aw_fZ5rCNsvDmmMxnvq0DCSlZeMI3rqwuYOcBzesAktkk3UTnBRRocGrLLR-PcvSe_QaS89LmRjcBd1kr0bIvofp7VIYQYnmhK-kkoKGvnWsaY0IQ">
<input type="hidden" name="selectedPupilId" id="selectedPupilId" value="e39289c9-e5f1-4960-949f-965a0783d74f">

<div class="govuk-form-group ">
<h1 class="govuk-label-wrapper govuk-!-margin-top-0">
  <label class="govuk-label govuk-label--l" for="pupil-search">What is the name of the pupil to be removed?</label>
</h1>
<div class="govuk-hint" id="pupil-search-hint">Start typing to see a list of names</div>

<input class="govuk-input" id="event-name" name="eventName" type="text" value="Billy B">

<button type="submit" class="govuk-button govuk-!-margin-top-5" data-module="govuk-button" data-govuk-button-init="">Continue</button>
</form>



  </main>
  
</div>
{% endblock %}
