{% extends "layouts/main.html" %}

{% set pageName = "Data amendment request submitted" %}
{% set currentPage = "guidance" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation" style="background-color: #00703c; text-align: center;">
        <h1 class="govuk-panel__title">Data amendment<br>request submitted</h1>
        <div class="govuk-panel__body">
          Your reference number<br>
          <strong>CYPMD_KS4_8784120</strong>
        </div>
      </div>

      <p class="govuk-body">We have sent you an email to confirm that you have successfully submitted a request.</p>

      <div class="govuk-inset-text" style="background-color: #d2e2f1; border-left: 0; padding: 10px 15px;">
        You still have until <strong>5pm on Friday 26 June 2026</strong> to request any further amendments if you need to.
      </div>

      <p class="govuk-body">
        <a class="govuk-link" href="request-amendment">Request another amendment</a> or
        <a class="govuk-link" href="remove-summary-social-care">edit an existing request</a>.
      </p>

      <h2 class="govuk-heading-l">What happens next</h2>

      <p class="govuk-body">After you submit your changes:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the DfE will review any evidence you provide</li>
        <li>you'll be able to track the status of your requests in the service</li>
        <li>your school's performance data will be updated in the Autumn, if the request is approved</li>
      </ul>
    </div>
  </div>
{% endblock %}