{% extends "layouts/plain.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    

    <h1 class="govuk-heading-xl">
      {{ serviceName }} prototype
    </h1>
    <h2 class="govuk-heading-m">16-19 Guidance page</h2>
    <p>CYPMD help and support landing page and 16 to 19 detailed Guidance page</p>

    <ul class="govuk-list ">
      <li><a href="ks4-guidance-iterations/start.html" class="govuk-link">16-19 Guidance page</a></li>
    </ul>
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

    <h2 class="govuk-heading-m">Key stage 4</h2>
    <p>2026 (Private Beta) UR - iterations – Key stage 4 - June​</p>

    <ul class="govuk-list ">
      <li><a href="ks4-iterations/start.html" class="govuk-link">Key stage 4 user journey</a></li>
    </ul>
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

    <h2 class="govuk-heading-m">Key stage 4</h2>
    <p>3rd round of UR version</p>

    <ul class="govuk-list">
      <li><a href="ks4-iterations-testing/start.html" class="govuk-link">Key stage 4 user journey</a></li>
    </ul>
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">
    
    <h2 class="govuk-heading-m">16 to 19 & Result enquiries</h2>
    <p>3rd round of UR version</p>

    <ul class="govuk-list">
      <li><a href="ks4-iterations-testing/start.html" class="govuk-link">16 to 19 & Result enquiries user journey</a></li>
      <li><a href="ks4-iterations-testing/start.html" class="govuk-link">Result enquiries userjourney</a></li>
    </ul>
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">


  </div>
</div>

{% endblock %}
