{#
  Layout for Check Performance Data (CYPMD) prototype pages
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}


{% block header %}

  {{ govukHeader() }}

  {{ govukServiceNavigation({
    serviceName: "Check Performance Data",
    serviceUrl: "/cypmd/guidance",
    navigation: [
      {
        href: "/cypmd/guidance",
        text: "Guidance",
        current: (currentPage == "guidance")
      },
      {
        href: "#",
        text: "Sign in"
      }
    ]
  }) }}

{% endblock %}


