{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block header %}

  {{ govukHeader() }}

  {{ govukServiceNavigation({
    serviceName: "Check Performance Data",
    serviceUrl: "/ks4-iterations-testing/start",
    navigation: [
      {
        href: "/ks4-iterations-testing/guidance",
        text: "Guidance",
        current: (currentPage == "guidance")
      },
      {
        href: "#",
        text: "Sign in"
      }
    ]
  }) }}

{% endblock %}

{% block beforeContent %}
<!-- {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }} -->
{% endblock %}

<!-- 
{% block scripts %}
    {{ super() }}
    <script src="/assets/js/dfefrontend.min.js"></script>
{% endblock %} -->

